body {
    background-color: lightblue;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('/home/jorge/repos/calculator/digital-7.regular.ttf') format('truetype');
   }

#display {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    margin: auto;
    /*align-content: end;*/
    text-align: right;
    overflow: hidden;
    border-width: 2px;
    border-color: black;
    background-color: darkcyan;
    font-family:'digital-clock-font';

}

#second-display {
    height: 25px;
    width: 300px;
    margin: auto;
    align-content: end;
    text-align: right;
    overflow: hidden;
    font-size: medium;
    
}

#third-display {
    height: 25px;
    width: 300px;
    /*margin: auto;*/
    /*align-content: end;*/
    /*text-align: right;*/
    overflow: hidden;
    font-size: 32px;
    font-weight: bold;
    
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    background-color: darkgrey;
    margin: auto;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 3px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 200px;
    height: 250px;
    margin: auto;
    margin-top: 25px;
    justify-content: space-between;
    
}

button {
    background-color: rgb(22, 19, 19);
    width: 40px;
    height: 20px; 
    padding: 0;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold   ;
    color: white;
}

#clear {
    background-color: red;
}
#evaluate {
    background-color: red;
}
#operator {
    background-color: blue;
}
button:active {
    background-color: rgb(36, 174, 96);
    transform: translateY(4px);
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#license {
    text-align: center;
}